---
If:
  PathMatch: .*\.(cpp|cc|cxx|hpp|hxx|h)$
CompileFlags:
  Add: [-std=c++23, -Wall]
  QueryDriver: ["/usr/bin/g++", "/usr/bin/clang++"]
InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
---
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add: [-std=c23, -Wall]
  QueryDriver: ["/usr/bin/gcc", "/usr/bin/clang"]
InlayHints:
  Enabled: true
  Designators: true
